{{> head }}

{{> navbar }}

<div class="row mt-5 con container">
    <div class="col-8">
        <h1>Teeworlds</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, odio. Ab architecto ad atque deserunt corrupti magni officia recusandae aperiam laudantium veniam, velit quaerat voluptatum laboriosam numquam ducimus et ipsum!
        </p>
    </div>
    <div class="col-4">
        <img src="{{ img }}" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}